apiVersion: v1
kind: ConfigMap
metadata:
    name: todos-seed-sql
    labels:
        app: postgres
        type: seed
        managed-by: kubernetes
    annotations:
        description: "Seed SQL for todos_db"
data:
    todos_db.sql: |
        SET statement_timeout = 0;
        SET lock_timeout = 0;
        SET idle_in_transaction_session_timeout = 0;
        SET client_encoding = 'UTF8';
        SET standard_conforming_strings = on;
        SELECT pg_catalog.set_config('search_path', '', false);
        SET check_function_bodies = false;
        SET client_min_messages = warning;
        SET row_security = off;

        CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;
        COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';

        SET default_tablespace = '';
        SET default_with_oids = false;

        CREATE DATABASE todos_db;
        \c todos_db

        CREATE TABLE public.migrations (
            id integer NOT NULL,
            name character varying(255),
            batch integer,
            migration_time timestamp with time zone
        );
        ALTER TABLE public.migrations OWNER TO postgres;

        CREATE SEQUENCE public.migrations_id_seq
            AS integer
            START WITH 1
            INCREMENT BY 1
            NO MINVALUE
            NO MAXVALUE
            CACHE 1;
        ALTER TABLE public.migrations_id_seq OWNER TO postgres;
        ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;

        CREATE TABLE public.migrations_lock (
            index integer NOT NULL,
            is_locked integer
        );
        ALTER TABLE public.migrations_lock OWNER TO postgres;

        CREATE SEQUENCE public.migrations_lock_index_seq
            AS integer
            START WITH 1
            INCREMENT BY 1
            NO MINVALUE
            NO MAXVALUE
            CACHE 1;
        ALTER TABLE public.migrations_lock_index_seq OWNER TO postgres;
        ALTER SEQUENCE public.migrations_lock_index_seq OWNED BY public.migrations_lock.index;

        CREATE TABLE public.todos (
            id integer NOT NULL,
            title character varying(255) NOT NULL,
            completed boolean NOT NULL,
            due_date timestamp with time zone,
            "order" integer
        );
        ALTER TABLE public.todos OWNER TO postgres;

        CREATE SEQUENCE public.todos_id_seq
            AS integer
            START WITH 1
            INCREMENT BY 1
            NO MINVALUE
            NO MAXVALUE
            CACHE 1;
        ALTER TABLE public.todos_id_seq OWNER TO postgres;
        ALTER SEQUENCE public.todos_id_seq OWNED BY public.todos.id;

        ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);
        ALTER TABLE ONLY public.migrations_lock ALTER COLUMN index SET DEFAULT nextval('public.migrations_lock_index_seq'::regclass);
        ALTER TABLE ONLY public.todos ALTER COLUMN id SET DEFAULT nextval('public.todos_id_seq'::regclass);

        COPY public.migrations (id, name, batch, migration_time) FROM stdin;
        1	20201122205735_create_todos_table.js	1	2020-12-04 09:26:30.428+00
        2	20201123104711_update_todos_table.js	1	2020-12-04 09:26:30.433+00
        \

        COPY public.migrations_lock (index, is_locked) FROM stdin;
        1	0
        \

        COPY public.todos (id, title, completed, due_date, "order") FROM stdin;
        12	Learn Jenkins	f	2020-12-04 18:37:44.234+00	\N
        13	Learn GitLab	t	2020-12-04 18:38:06.993+00	\N
        21	Learn K8s	f	2020-12-04 19:12:16.174+00	\N
        \

        SELECT pg_catalog.setval('public.migrations_id_seq', 2, true);
        SELECT pg_catalog.setval('public.migrations_lock_index_seq', 1, true);
        SELECT pg_catalog.setval('public.todos_id_seq', 21, true);

        ALTER TABLE ONLY public.migrations_lock ADD CONSTRAINT migrations_lock_pkey PRIMARY KEY (index);
        ALTER TABLE ONLY public.migrations ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);
        ALTER TABLE ONLY public.todos ADD CONSTRAINT todos_pkey PRIMARY KEY (id);
        \
